# Analyzing The Data

So far we have a lot of game data and very little understanding of it. So let's try to make some nice looking graphs and look at all of our variables, to see what the most important factors are when we look at the bigger picture.

## Stating the obvious

First let's state the obvious, the factor which will always determine if a team wins or not is whoever has the most points. 

Therefore we can easily state that we're trying to find which team will have the most points at the end of a match.

Let's look at a small number of game recordings. In this case we'll be looking at eight games at a time. eight games of the same team to see what we can see from their wins and losses.(eight games of one team going against eight unique teams) Then another set of eight games, this time with different teams, all of which should appear once in the set. (eight games with a total of ten unique teams) to see what factors might be affecting them.

This should give us a nice place to start.

### The Atlanta Hawks

For our first set of analyzing one team's performance against different teams, we'll be looking at the Atlanta Hawks since their name is sorted first alphabetically making it easier to find. We'll look at:

- two games at Home where they lost,
- two games at Home and won,
- two games Away and won,
- two where Away and lost

This is the reason we chose eight games, so we can look at more than one outcome from the two different environments the teams will be playing in.

In [1]:
# Initialize imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Initialize DataFrames

# Home wins
## ATL vs GSW
ATL_GSW = pd.read_csv('../finalized_scripts/datasets/game_data/atlanta-hawks-golden-state-warriors-2024-02-04.csv')
## ATL vs LAL
ATL_LAL = pd.read_csv('../finalized_scripts/datasets/game_data/atlanta-hawks-los-angeles-lakers-2024-01-31.csv')

# Home losses
## ATL vs CLV
ATL_CLV = pd.read_csv('../finalized_scripts/datasets/game_data/atlanta-hawks-cleveland-cavaliers-2024-01-21.csv')
## ATL vs MEM
ATL_MEM = pd.read_csv('../finalized_scripts/datasets/game_data/atlanta-hawks-memphis-grizzlies-2023-12-24.csv')

# Away wins
## ATL vs MIA
ATL_MIA = pd.read_csv('../finalized_scripts/datasets/game_data/miami-heat-atlanta-hawks-2024-01-20.csv')
## ATL vs MIL
ATL_MIL = pd.read_csv('../finalized_scripts/datasets/game_data/milwaukee-bucks-atlanta-hawks-2023-12-03.csv')

# Away losses
## ATL vs BOS
ATL_BOS = pd.read_csv('../finalized_scripts/datasets/game_data/boston-celtics-atlanta-hawks-2024-02-08.csv')
## ATL vs CHA
ATL_CHA = pd.read_csv('../finalized_scripts/datasets/game_data/charlotte-hornets-atlanta-hawks-2023-10-26.csv')

For those not well versed in American city names and basketball teams let me define what all these acronyms mean:

- ATL: Atlanta (Hawks)
<br><br>
- GSW: Golden State Warriors (San Francisco)
<br><br>
- LAL: Los Angeles (Lakers)
<br><br>
- CLV: Cleveland (Cavaliers)
<br><br>
- MEM: Memphis (Grizzlies)
<br><br>
- MIA: Miami (Heat)
<br><br>
- MIL: Milwaukee (Bucks)
<br><br>
- BOS: Boston (Celtics)
<br><br>
- CHA: Charlotte (Hornets)

Now that we're all on the same page let's try comparing these sets. We'll compare one game of each result against either a matching environment or the opposing environment.

Since we all know that more points equals win, we're gonna exclude the 2M,3M,1M column. This is because knowing how many field goals, three pointers and free throws a team made will all add up to their total points.

Instead I would like to look at the 2A,3A,1A since these are all attempts, as well every other variable like rebounds, assists, blocks, fouls, +/- (which I will get into what that statistic means), Eff(also very interesting) and To. (Turnovers)

In [24]:
ATL_GSW_home = ATL_GSW[ATL_GSW['Team'] == 'AtlantaHawks']
ATL_GSW_away = ATL_GSW[ATL_GSW['Team'] == 'GoldenStateWarriors']

ATL_CLV_home = ATL_CLV[ATL_CLV['Team'] == 'AtlantaHawks']
ATL_CLV_away = ATL_CLV[ATL_CLV['Team'] == 'ClevelandCavaliers']

ATL_CLV

,PLAYER,Pts,Reb,2M,2A,3M,3A,1M,1A,Ast,...,1%,Or,Dr,To,Stl,Blk,Fo,+/-,Eff,Team
0,DejounteMurray,24,9,8,12,2,7,2,2,5,...,100.0,0,9,2,1,0,2,-20,28,AtlantaHawks
1,JalenT.Johnson,20,7,7,11,1,5,3,6,4,...,50.0,1,6,1,1,2,2,-19,22,AtlantaHawks
2,TraeYoung,15,1,3,8,3,4,0,0,5,...,0.0,0,1,4,0,0,2,-20,11,AtlantaHawks
3,BogdanBogdanovic,14,2,4,5,1,6,3,4,4,...,75.0,0,2,1,1,0,0,-13,13,AtlantaHawks
4,ClintCapela,6,9,3,8,0,0,0,0,0,...,0.0,5,4,2,1,2,2,-14,11,AtlantaHawks
5,PattyMills,6,0,0,0,2,3,0,0,0,...,0.0,0,0,0,1,0,1,3,6,AtlantaHawks
6,GarrisonMathews,4,2,0,0,1,3,1,1,2,...,100.0,0,2,0,0,0,0,-3,6,AtlantaHawks
7,SethLundy,3,0,0,0,1,2,0,0,0,...,0.0,0,0,0,0,0,0,3,2,AtlantaHawks
8,AJGriffin,2,0,1,1,0,1,0,0,0,...,0.0,0,0,0,0,0,0,3,1,AtlantaHawks
9,OnyekaOkongwu,1,6,0,3,0,0,1,2,2,...,50.0,2,4,0,0,0,3,-10,5,AtlantaHawks
10,BrunoFernando,0,1,0,0,0,1,0,0,1,...,0.0,0,1,0,0,0,0,3,1,AtlantaHawks
11,TrentForrest,0,1,0,1,0,0,0,0,0,...,0.0,0,1,0,0,0,0,6,0,AtlantaHawks
12,SaddiqBey,0,7,0,6,0,6,0,0,2,...,0.0,3,4,1,0,0,3,-24,-4,AtlantaHawks
13,AtlantaHawks,95,50,26,55,11,38,10,15,25,...,0.0,13,37,12,5,4,15,-105,102,AtlantaHawks
14,DonovanMitchell,18,6,6,11,0,6,6,6,8,...,100.0,0,6,1,0,1,3,17,21,ClevelandCavaliers
15,SamMerrill,18,4,1,2,5,14,1,1,6,...,100.0,0,4,1,0,0,2,8,17,ClevelandCavaliers
16,DeanWade,17,5,1,1,5,6,0,0,0,...,0.0,1,4,0,1,0,1,11,22,ClevelandCavaliers
17,JarrettAllen,14,11,6,8,0,0,2,2,2,...,100.0,1,10,4,3,3,2,7,27,ClevelandCavaliers
18,GeorgesNiang,14,5,1,1,4,8,0,0,2,...,0.0,0,5,0,0,1,2,11,18,ClevelandCavaliers
19,MaxStrus,13,3,4,6,1,4,2,2,7,...,100.0,2,1,2,1,0,1,15,17,ClevelandCavaliers
20,IsaacOkoro,12,5,4,6,1,3,1,3,2,...,33.3,0,5,2,2,0,3,19,13,ClevelandCavaliers
21,TristanThompson,6,5,3,3,0,1,0,0,2,...,0.0,0,5,0,0,1,0,14,13,ClevelandCavaliers
22,CraigPorter,4,5,1,2,0,1,2,2,3,...,100.0,0,5,3,0,0,2,5,7,ClevelandCavaliers
23,DamianJones,0,0,0,0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,-1,0,ClevelandCavaliers
24,PeteNance,0,0,0,2,0,0,0,0,0,...,0.0,0,0,0,0,0,0,-1,-2,ClevelandCavaliers
25,ClevelandCavaliers,116,54,27,42,16,43,14,16,32,...,0.0,5,49,13,7,6,16,105,153,ClevelandCavaliers